<!DOCTYPE html>
<html>
<head>
    <title>Format</title>
    <link rel="stylesheet" href="{{url_for('static', filename= 'style.css')}}">
</head>
<body class="body">
    <div class="home">
    <div class="titulo">
        <h1>FORMATAR PLANILHAS</h1>
    </div>    
    <br>
    <div class="form">
    <form action= "/" method="post" enctype="multipart/form-data">
        <input type="file" name="Planilhas" multiple required><br><br>
        <h3 class="text">QUANTIDADE DE PLANILHAS DESEJADAS</h3> <input type="number" name="num_parts" required><br><br><br>
        <label class="formatar"><input type="checkbox" name="formatar" value="sim"> FORMATAR</label><br><br>
        <input class="enviar" type="submit" value="ENVIAR">
    </form>
    </div>
    </div>
    <script>
    function showLoading() {
        document.getElementById("loading").style.display = "block";
    }
    </script>

    <form method="POST" enctype="multipart/form-data" onsubmit="showLoading()">
    <!-- inputs do formulário -->
    </form>

    <div id="loading" style="display:none;">Processando... Aguarde.</div>


</body>
</html>
